<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Weather">
  <!-- <meta name="apple-mobile-web-app-status-bar-style" content="#1B2541"> -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#131e32">
  <meta name="msapplication-TileColor" content="#131e32">
  <meta name="theme-color" content="#131e32">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register("service-worker.js");
    }
  </script>
  <title>FairyBrains Weather</title>
</head>

<body>
  <div class="p-4 text-2xl text-center">
    <% const text='Hello World' %>
    <%= text %>

  </div>

  <script src="js/script.js"></script>
  <script src="js/weatherAPI.js"></script>
</body>

</html>