.suggestions-nowrap {
  white-space: nowrap;
}

/**
 * Основной INPUT
 */

.suggestions-input::-ms-clear {
  display: none;
}

.suggestions-wrapper {
  position: relative;
  margin: 8px 0 0;
  vertical-align: top;
  -webkit-text-size-adjust: 100%;
}


/**
 * Выпадающий блок с найденными подсказками
 */
.suggestions-suggestions {
  /* background: rgb(26 59 93); */
  color: rgb(255 255 255 / 0.7);
  font-size: 1rem;
  cursor: default;
  left: 0;
  min-width: 100%;
  position: absolute;
  -webkit-text-size-adjust: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  -webkit-transition: all 0.3s 0s ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
}

.suggestions-suggestions strong {
  font-weight: normal;
  color: #feb800;
}

/**
 * Контейнер для одной подсказки
 */
.suggestions-suggestion {
  margin: 0;
  padding: 9px 0;
  /* padding-left: 16px; */
  overflow: hidden;

}

.suggestions-suggestion:hover {
  background: #ffffff15;
  border-radius: 8px;
}

/**
 * Выбранная (активная) подсказка
 */
.suggestions-selected {
  background: #454f71;
}

.suggestions-selected:hover {
  background: #454f71;
}

/**
 * Информационный блок в верхней части выпадашки с подсказками
 */
.suggestions-hint {
  padding: 4px 4px;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
  font-size: 85%;
  line-height: 20px;
}

/**
 * Дополнительный текст в подсказке, который идет второй строкой
 */
.suggestions-subtext {
  color: #777;
}

/**
 * Размещает дополнительный текст в одну строку с основным текстом подсказки
 */
.suggestions-subtext_inline {
  display: inline-block;
  min-width: 6em;
  vertical-align: bottom;
  margin: 0 0.5em 0 0;
}

/**
 * Разделитель нескольких дополнительных текстов
 */
.suggestions-subtext-delimiter {
  display: inline-block;
  width: 2px;
}

/**
 * Выделяет подсказку
 */
.suggestions-subtext_label {
  margin: 0 0 0 0.25em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 3px;
  background: #f5f5f5;
  font-size: 85%;
}