@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Nunito';
    font-weight: 300;
    src: url(/fonts/Nunito/Nunito-Light.woff2) format("woff");
  }

  @font-face {
    font-family: 'Nunito';
    font-weight: 400;
    src: url(/fonts/Nunito/Nunito-Regular.woff2) format("woff");
  }

  @font-face {
    font-family: 'Nunito';
    font-weight: 500;
    src: url(/fonts/Nunito/Nunito-Medium.woff2) format("woff");
  }

  @font-face {
    font-family: 'Nunito';
    font-weight: 600;
    src: url(/fonts/Nunito/Nunito-SemiBold.woff2) format("woff");
  }
  @font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src: url(/fonts/Nunito/Nunito-Bold.woff2) format("woff");
  }
}
  /* @font-face {
    font-family: 'Noto_Emoji';
    font-weight: 500;
    src: url(/fonts/Noto_Emoji/static/NotoEmoji-Medium.woff2) format("woff");
  } */
  small {
    @apply text-xxs leading-3 text-gray-300 dark:text-cosmic-400;
  }
  h3 {
    @apply text-lg leading-[22px] font-bold  text-cosmic-900 dark:text-white;
  }
  strong {
    @apply font-bold leading-5 text-cosmic-900 dark:text-white;
  }
  span {
    @apply text-xs font-normal leading-[14px] text-cosmic-900 dark:text-white;
  }
  p {
    @apply font-normal text-sm leading-5
  }
  
.swiper , .swiper, swiper-container{
  @apply !overflow-clip
}

[x-cloak] { display: none !important; }

@layer components {
  li .card__wrapper {
    @apply flex gap-2 p-4 transition-all-500 rounded-2xl mx-auto
    bg-white dark:bg-cosmic-900 dark:bg-gradient-to-br dark:from-[#192D52] dark:to-[#112645];
  }
  .transition-all-300 {
    @apply ease-[cubic-bezier(.23,1,.32,1)] transition-all transform-gpu duration-300;
  }
  .transition-all-500 {
    @apply ease-[cubic-bezier(.23,1,.32,1)] transition-all transform-gpu duration-500;
  }
  .transition-300 {
    @apply ease-[cubic-bezier(.23,1,.32,1)] transition transform-gpu duration-300;
  }
  .transition-500 {
    @apply ease-[cubic-bezier(.23,1,.32,1)] transition transform-gpu duration-500;
  }
  .transition-transform-300 {
    @apply ease-[cubic-bezier(.23,1,.32,1)] transition-transform transform-gpu duration-300;
  }
  .transition-transform-500 {
    @apply ease-[cubic-bezier(.23,1,.32,1)] transition-transform transform-gpu duration-500;
  }
  .transition-opacity-300 {
    @apply ease-[cubic-bezier(.23,1,.32,1)] transition-opacity transform-gpu duration-300;
  }
  .transition-opacity-500 {
    @apply ease-[cubic-bezier(.23,1,.32,1)] transition-opacity transform-gpu duration-500;
  }

}
html, body {
  overscroll-behavior: none;
}
body {
  touch-action: pan-y;
}

/* these are special */
.slip-reordering {
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}

.slip-reordering .card__wrapper {
  transform: scale(1.06);
}

.slip-swiping-container {
  overflow-x: hidden;
}

* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
  ;
}

input {
  user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
}


@keyframes changeLetter {
  0% {
    content: "째C";
  }

  50% {
    color: #FEB800;
  }

  100% {
    content: "째F";
  }
}

@keyframes changeLetterB {
  0% {
    content: "째F";
  }

  50% {
    color: #FEB800;
  }

  100% {
    content: "째C";
  }
}

.tempSwitch:checked {
  animation: changeLetter 150ms ease-in-out 1;
}

.tempSwitch:not(:checked) {
  animation: changeLetterB 150ms ease-in-out 1;

}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}
::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none !important;
  overflow: -moz-scrollbars-none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

@media (min-width: 500px) {
  .sm\:artboard-demo, .sm\:mockup-phone {
    display: block !important;
  }
}

.swiper {
  overflow: clip !important;
}
.swiper-pagination {
  position: relative !important;
  /* width: auto !important; */
  left: auto !important;
  bottom: auto !important;
}

.swiper-pagination-bullet {
  background-color: #ACD8E7 !important;
  opacity: 100 !important;

  padding: 3px !important;
  margin: 4px !important;
  border-radius: 4px !important;
  width: 3px !important;
  height: 3px !important;
  -webkit-transition: background-color, border;
  -moz-transition: background-color, border;
  -o-transition: background-color, border;
  transition: background-color, border;
  transition-duration: 500ms !important;
}

.swiper-pagination-bullet-active {
  background-color: #3377FF !important;
  border-radius: 4px !important;
  padding: 3px !important;
  margin: 4px !important;
  border: 0 !important;
  -webkit-transition: background-color, border;
  -moz-transition: background-color, border;
  transition: background-color, border;
  width: 3px !important;
  height: 3px !important;
  transition-duration: 500ms !important;
}
.dark .swiper-pagination-bullet {
  background-color: #524311 !important;
  opacity: 100 !important;

  padding: 3px !important;
  margin: 4px !important;
  border-radius: 4px !important;
  width: 3px !important;
  height: 3px !important;
  -webkit-transition: background-color, border;
  -moz-transition: background-color, border;
  -o-transition: background-color, border;
  transition: background-color, border;
  transition-duration: 500ms !important;
}

.dark .swiper-pagination-bullet-active {
  background-color: #FEB800 !important;
  border-radius: 4px !important;
  padding: 3px !important;
  margin: 4px !important;
  border: 0 !important;
  -webkit-transition: background-color, border;
  -moz-transition: background-color, border;
  transition: background-color, border;
  width: 3px !important;
  height: 3px !important;
  transition-duration: 500ms !important;
}

#header {
  mask: linear-gradient(black 70%, transparent);
}

* {
  -webkit-tap-highlight-color: transparent;
}
